name: sample
on: push

jobs:
  create_diff_report_by_sample:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable

      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.lock') }}
          restore-keys: ${{ github.ref_name == github.event.repository.default_branch && format('{0}-cargo-', runner.os) }}

      - uses: actions/cache@v5
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-${{ hashFiles('Cargo.lock') }}
          restore-keys: ${{ github.ref_name == github.event.repository.default_branch && format('{0}-cargo-build-', runner.os) }}

      - run: cargo fetch --locked

      - run: cargo build --release --locked

      - run: time ./target/release/semdiff ./sample_data/expected ./sample_data/actual --output-html ./out/index.html

      - uses: actions/upload-pages-artifact@v4
        with:
          path: out

  deploy:
    if: github.ref_name == github.event.repository.default_branch
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: create_diff_report_by_sample
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
