name: test
on:
  - push
  - workflow_call

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.lock') }}
          restore-keys: ${{ github.ref_name == github.event.repository.default_branch && format('{0}-cargo-', runner.os) }}

      - uses: actions/cache@v5
        with:
          path: target
          key: ${{ runner.os }}-cargo-test-${{ hashFiles('Cargo.lock') }}
          restore-keys: ${{ github.ref_name == github.event.repository.default_branch && format('{0}-cargo-test-', runner.os) }}

      - run: cargo fetch --locked

      - run: cargo test --workspace --all-features -- --nocapture
