name: vrt-report
on:
  workflow_run:
    workflows: ["vrt-capture"]
    types: [completed]

jobs:
  publish_baseline:
    if: github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push'
    runs-on: ubuntu-latest
    permissions:
      actions: read
      statuses: write
    steps:
      - uses: actions/github-script@v8
        env:
          RUN_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        with:
         script: |
           const { owner, repo } = context.repo;
           const sha = context.payload.workflow_run.head_sha;
           
           await github.rest.repos.createCommitStatus({
             owner, repo, sha,
             state: "pending",
             context: "vrt-report / publish_baseline",
             target_url: process.env.RUN_URL,
           });

      - uses: actions/download-artifact@v7
        with:
          name: vrt-data
          path: ./actual
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ github.token }}

      - run: |
          OUT_ROOT="$(pwd)/actual"
          tar -I 'zstd -19' -cf saved.tar.zst -C "${OUT_ROOT}" .

      - uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          wranglerVersion: "4.67.0"
          command: |
            r2 object put ${{ secrets.VRT_CF_R2_BUCKET }}/visual-regression/saved.tar.zst --file ./saved.tar.zst --remote

      - if: always()
        uses: actions/github-script@v8
        env:
          JOB_STATUS: ${{ job.status }}
          RUN_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        with:
          script: |
            const { owner, repo } = context.repo;
            const sha = context.payload.workflow_run.head_sha;
            
            const jobStatus = process.env.JOB_STATUS; // success|failure|cancelled
            const mapping = {
              success: "success",
              failure: "failure",
              cancelled: "error",
            };
            await github.rest.repos.createCommitStatus({
              owner, repo, sha,
              state: mapping[jobStatus],
              context: "vrt-report / publish_baseline",
              target_url: process.env.RUN_URL,
            });

  pr_checks:
    if: github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      actions: read
      issues: write
      pull-requests: write
      statuses: write
    steps:
      - uses: actions/github-script@v8
        env:
          RUN_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        with:
          script: |
            const { owner, repo } = context.repo;
            const sha = context.payload.workflow_run.head_sha;
            
            await github.rest.repos.createCommitStatus({
              owner, repo, sha,
              state: "pending",
              context: "vrt-report / pr_checks",
              target_url: process.env.RUN_URL,
            });

      - uses: actions/download-artifact@v7
        with:
          name: vrt-data
          path: ./actual
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ github.token }}

      - continue-on-error: true
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          wranglerVersion: "4.67.0"
          command: |
            r2 object get ${{ secrets.VRT_CF_R2_BUCKET }}/visual-regression/saved.tar.zst --file main-saved.tar.zst --remote

      - run: |
          if [ -f main-saved.tar.zst ]; then
            mkdir -p expected
            tar -xaf main-saved.tar.zst -C expected
          fi
          
          LATEST_RELEASE=$(curl -L https://api.github.com/repos/White-Green/semdiff/releases/latest)
          LATEST_RELEASE_DOWNLOAD_URL=$(echo $LATEST_RELEASE | jq -r '.assets | .[] | select(.name | contains("x86_64-unknown-linux")) | .browser_download_url')
          mkdir -p .github/tmp
          curl -L $LATEST_RELEASE_DOWNLOAD_URL --output .github/tmp/semdiff.tar.gz
          tar -xaf .github/tmp/semdiff.tar.gz -C .github/tmp
          .github/tmp/semdiff/semdiff ./expected ./actual --output-html regression/index.html --output-json ./report.json

      - uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          command: |
            pages deploy --project-name ${{ vars.VRT_CF_PAGES_PROJECT_NAME }} --branch pr-${{ github.event.workflow_run.pull_requests[0].number }} ./regression

      - uses: actions/github-script@v8
        with:
          script: |
            const fs = require('fs');
            const path = './report.json';
            const report = JSON.parse(fs.readFileSync(path, 'utf8'));
            const issue_number = context.payload.workflow_run.pull_requests[0].number;

            const marker = '<!-- visual-regression-diff-marker -->';

            const body = `${marker}
            ## Visual Regression Test Summary

            | Category  | Count               |
            |-----------|---------------------|
            | Unchanged | ${report.unchanged} |
            | Modified  | ${report.modified}  |
            | Added     | ${report.added}     |
            | Deleted   | ${report.deleted}   |

            [Diff Report](https://pr-${issue_number}.${{ vars.VRT_CF_PAGES_PROJECT_NAME }}.pages.dev/)
            `;

            const { owner, repo } = context.repo;

            const { data: comments } = await github.rest.issues.listComments({
              owner,
              repo,
              issue_number,
              per_page: 100,
            });
            const oldComments = comments.filter(comment => comment.body.includes(marker));
            for (const { node_id: nodeId } of oldComments) {
              const mutation = `
                mutation($subjectId: ID!) {
                  minimizeComment(input: {
                    subjectId: $subjectId,
                    classifier: OUTDATED
                  }) {
                    minimizedComment {
                      isMinimized
                      minimizedReason
                    }
                  }
                }
              `;

              await github.graphql(mutation, { subjectId: nodeId });
            }

            await github.rest.issues.createComment({
              owner,
              repo,
              issue_number,
              body,
            });

      - if: always()
        uses: actions/github-script@v8
        env:
          JOB_STATUS: ${{ job.status }}
          RUN_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
        with:
          script: |
            const { owner, repo } = context.repo;
            const sha = context.payload.workflow_run.head_sha;
            
            const jobStatus = process.env.JOB_STATUS; // success|failure|cancelled
            const mapping = {
              success: "success",
              failure: "failure",
              cancelled: "error",
            };
            await github.rest.repos.createCommitStatus({
              owner, repo, sha,
              state: mapping[jobStatus],
              context: "vrt-report / pr_checks",
              target_url: process.env.RUN_URL,
            });
